<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>



  <style>
    canvas {
      margin: auto;
    }

    body {
      text-align: center;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  </style>


</head>

<body ng-app="starter" ng-controller="crash">

  <canvas on-drag="move($event)" ng-click="click($event)" on-touch="mouseDown($event)" on-release="mouseUp($event)" id="myCanvas"
    style="height:100%;width:100%;border:1px solid #d3d3d3;background:#ffffff;">
    Your browser does not support the HTML5 canvas tag.
  </canvas>

  <script id='templates/modal.html' type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">控制台</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">

          <ion-toggle ng-model="context.setting.isDebug.value" ng-checked="context.setting.isDebug.value">
            {{context.setting.isDebug.message}}
          </ion-toggle>
          <label class="item item-input">
              <span class="input-label">{{context.setting.stageTime.message}}</span>
              <input ng-model="context.setting.stageTime.value" type="number">
          </label>
          <label class="item item-input">
              <span class="input-label">{{context.setting.spoilRate.message}}</span>
              <input ng-model="context.setting.spoilRate.value" type="number">
          </label>
          <label class="item item-input">
              <span class="input-label">{{context.setting.enemyRemoveRate.message}}</span>
              <input ng-model="context.setting.enemyRemoveRate.value" type="number">
          </label>
          <label class="item item-input">
              <span class="input-label">{{context.setting.enemyShotRate.message}}</span>
              <input ng-model="context.setting.enemyShotRate.value" type="number">
          </label>
          <label class="item item-input">
              <span class="input-label">{{context.setting.playerShotRate.message}}</span>
              <input ng-model="context.setting.playerShotRate.value" type="number">
          </label>
          <label class="item item-input">
              <span class="input-label">{{context.setting.spoilRate.message}}</span>
              <input ng-model="context.setting.spoilRate.value" type="number">
          </label>
          <!--  <label class="item item-input" ng-click="hd1=!hd1" ng-init="hd1=true">
              <span class="input-label">关卡策略</span>
          </label>
          <ion-radio ng-repeat="item in clientSideList" ng-hide="hd1"
          ng-value="item.value"
           ng-model="data.clientSide">
         {{ item.text }}
       </ion-radio>
          <ion-toggle  ng-model="item.checked"    ng-checked="item.checked">
           开启debug
          </ion-toggle>-->

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <button class="button button-full button-positive" ng-click="cancel()">取消</button>

            </div>
            <div class="col"></div>
            <div class="col">
              <button class="button button-full button-positive" ng-click="confirm()">确定</button>

            </div>
            <div class="col"></div>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

  </script>
  <script src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
  <script >
    window.baseUrl="";
  </script>
  <!-- <script src="js/engne.js"></script>-->
  <!-- your app's js -->
  <script src="js/app.js"></script>


</body>

</html>